*{
    margin: 0; /*Para quitar la meagen que viene por defecto*/
    padding: 0; /*Para quitar la margen que viene por defecto*/
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    width: 100%;
    height: 60px;
}

.contenedor-menu{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    align-items: center;
    background: #678983;
}
 .menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-left: 36px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 18px;
    color: antiquewhite;
    text-transform: uppercase;
}

li {
    background: #67898300;
    padding: 10px 40px;
    border-radius: 50px;
    font-size: 10px;
}

/*CONTENEDOR INFO*/

.contenedor-info{
    width: 40%;
    
}

.menu .buscar{
    width: 100%;
    height: 80px;
    margin-top: 40px;
    position: fixed;
    z-index: 1;
}

ul, ol{
    list-style: none;
}

.nav li a {
background-color: #000000af;
color: #fafbff;
text-decoration: none;
padding: 10px  15px;
display: block;
}

.nav li a:hover{
background-color: rgb(143, 207, 233);
}




.nav > li {
    float: left;
}

.nav li ul{
    display:none;
    position: absolute;
    min-width: 140 px;
}

.nav li:hover > ul{
    display: block;
}